&nbspкаждые&nbsp
	- @days_of_week_names.each do |d|
		- if d[1] == @event.date.strftime("%a")
			= check_box_tag "days_of_week[]", d[1], checked: true
		- else
			= check_box_tag "days_of_week[]", d[1]
		= d[0]
		&nbsp