.span3{style: "height: 18px; margin-left: 0px;"}
	- if @event.is_repeat && @event.repeat_type.present?
		= select_tag "repeat_of", options_for_select({"по дням недели" => "week", "по числам месяца" => "month"}, @event.repeat_type)
	- else
		= select_tag "repeat_of", options_for_select({"по дням недели" => "week", "по числам месяца" => "month"}), options = {:prompt => "- Выберите тип повторения"} 
.span7#repeat_type{style: "height: 18px;"}
	= render partial: 'events/templates/repeat/repeat_by_week'
	= render partial: 'events/templates/repeat/repeat_by_month'
