.span3{style: "height: 18px; margin-left: 0px;"}
	= select_tag "repeat_of", options_for_select(["по дням недели", "по числам месяца"]), options = {:prompt => "- Выберите тип повторения"} 
.span5#repeat_type
	= render partial: 'events/templates/repeat_by_week'
	= render partial: 'events/templates/repeat_by_month'
